.settings
.project
.buildpath
configuration.php
*~

build/ftp.properties

minima.sublime-workspace

minima.sublime-project

administrator/cache/mypanel/f23f6b5c329d3f9b5a114db1f47e5814-cache-mypanel-f3be9ef5d4b96acfd371e0cfde6d973b.php

administrator/cache/mypanel/index.html
